*{
    box-sizing: border-box;
}

body{
    font-family: "area-normal", sans-serif;
    margin: 0;
    line-height: 1.6;
    padding: 0;
    background-color: #ffdbdb;
    color: black;
}

.container{
    max-width: 1000px;
    margin-inline: auto;
    padding: 1.5rem;
}

header{
    border-bottom: 2px solid #bb5c5c;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

header h1{
    font-family: "articulat-cf", sans-serif;
    font-weight: 900;
    font-size: 36px;
    font-style: normal;
    margin: 0;

}
header p{
    font-weight: 400;
    font-size: 18px;
    margin: 0.5rem 0;
}

nav .links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin: 2rem 0;
    padding: 0;
    list-style: none;
}

.links a{
    font-family: "articulat-cf", sans-serif;
    font-weight: 500;
    font-size: 24px;
    text-decoration: none;
    color: #bb5c5c;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #000;
}

main h2 {
    font-size: 28px;
    margin-top: 0;
  }

  footer{
    margin-top: 4rem;
    text-align: center;
    font-size: 14px;
    color: #777;

  }

@media screen and (min-width: 768px) {
    header,main,footer{
        max-width: 1000px;
        margin-inline: auto;
    }

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }
}
    





